body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

@media (max-width: 767px) {
    .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }
    .navbar-nav .nav-item {
        float: none;
    }
    .navbar-toggler {
        color: #FFFFFF;
    }
}

#inti_logo{
    width:30px;
    height:30px;
    display: inline;
}

