body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

@media (max-width: 767px) {
    .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }
    .navbar-nav .nav-item {
        float: none;
    }
    .navbar-toggler {
        color: #FFFFFF;
    }
}

#inti_logo{
    width:30px;
    height:30px;
    display: inline;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 59px; /* 58 = 51(tamaño de la imagen) + padding-top + padding-bottom */
    background-color: #1e1e1e;
    padding-top: 4px;
    padding-bottom: 4px;
}

