/*#brand-nav-canales{}*/
.chart{
    width: 100%;
    height: 100%;
}
#contenido-fluid {
    padding-left: 0px;
    /*margin-left: 0px;*/
}
#pillsCanales {
    padding-left: 10px;
    margin-left: 0px;
}
.channel-number-selector {
    padding-left: 5px;
}
/*OLD CSS for highlight nav-pill*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFFFFF;
    /*background-color: #fca200;*/
}
/* NEW CSS for highlight nav-pill*/
.nav-pills > li > a.active, .nav-pills > li > a.active:hover, .nav-pills > li > a.active:focus {
    color: #FFFFFF;
    /*background-color: #fca200;*/
}
.nav-pills > li#brand-nav-canales{
    color: #ffffff;
}
.nav-pills > li > a {
    color: #8c918d;
}

.nav-pills .divider-vertical {
    height: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    border-top: 1px solid #8c918d;
}



#pillsCanales{
    padding-bottom: 8px;
    padding-top: 4px;
}
#tablaStatusSensores thead tr th{text-align: center;}   {#Para los headers#}
#tablaStatusSensores tbody th{text-align: center;}      {#Para el loading#}
#tablaStatusSensores tbody {text-align: center;}        {#Para los items#}


.divider-text {
    height: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    border-top: 1px solid #c4c4c4;
}

.config-text {
    display: inline-block;
    text-align: left;
}

.config-button {
    display: inline-block;
    text-align: right;
}

.hidden {
    display: none;
}

.gauge {
    width: 200px;
    height: 200px;
    display: inline-block;
}


@media (max-width: 767px) {
    .modal-footer .btn{
        margin-left: 0;
        margin-bottom: 8px;
        display: block;
    }
}