{% extends 'base.html.twig' %}


{% block extraCss %}
    {% stylesheets
    'base_assets/css/base.css'
    'base_assets/css/ensayo.css'
    filter='cssrewrite' output='css/ensayo.css'%}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block contentUnderNavBar %}

    <div id="contenido-fluid" class="container-fluid">
        {% block ensayoHistorial %}
        {% endblock %}
    </div>

    <div class="container">
        <div class="starter-template">
            {% block selectHistorial %}
            {% endblock %}
        </div>
    </div><!-- /.container -->

{% endblock %}


{% block extraJavaScript %}

    {% block javascript %}
    {% endblock %}

{% endblock %}
