{% extends "base.html.twig" %}


{% block extraCss %}
{% endblock %}



{% block contentUnderNavBar %}

    {% block ensayoRunningAlert %}
    {% endblock %}

    <div class="container">
        <div class="starter-template">
            <h1>Pagina principal</h1>
            <p class="lead">Descripcion de la plataforma.<br> To do.</p>
        </div>

    </div><!-- /.container -->

{% endblock %}
