{% extends "base.html.twig" %}





{% block contentUnderNavBar %}

    {% block ensayoRunningAlert %}
    {% endblock %}

    <div class="container">
        <div class="starter-template">
            <h1>INTI -  Construcciones</h1>
            <p class="lead">Adquisidor  y Registrador de valores de temperatura</p>
        </div>

    </div><!-- /.container -->

{% endblock %}
