{% extends 'pages/sensores/sensores_base.html.twig' %}

{% block extraCss %}
    <style>
        #tablaStatusSensores thead tr th{text-align: center;}   {#Para los headers#}
        #tablaStatusSensores tbody th{text-align: center;}      {#Para el loading#}
        #tablaStatusSensores tbody {text-align: center;}        {#Para los items#}

        #refreshButton {margin-bottom: 15px;}

    </style>
{% endblock %}

{% block ensayoRunningAlert %}

    {% if isEnsayoRunning == true  %}

        <div class="alert alert-warning col-md-10 offset-md-1" role="alert">
            <strong>Ensayo iniciado!</strong> Recuerde finalizarlo una vez concluido en ensayo.
        </div>

    {% endif %}
{% endblock %}

{% block statusActual %}

    <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4 center-block">
            <button onclick="refreshButtonClicked()" id="refreshButton" name="refreshButton" class="btn btn-primary center-block">
                <i class="fa fa-refresh" aria-hidden="true"></i>  Refrescar ahora
            </button>
        </div>
    </div>


    <div class="container col-md-offset-3">
        <table class="table table-hover table-bordered" id="tablaStatusSensores">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Ultima medición</th>
                    <th>Fecha</th>
                    {#<th>Alias</th>#}
                </tr>
            </thead>
            <tbody id="dataStatusSensores">
                <th colspan="4">Cargando datos...</th>
            </tbody>
        </table>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        function toggleTimerById( myId ) {
            var element = document.getElementById(myId);
            if ( element.disabled == true ) {
                element.disabled = false;
            }
            else {
                element.disabled = true;
            }
        }

        function refreshButtonClicked() {
            toggleTimerById("refreshButton");

            $.ajax({
                        //url : '/getSensoresStatus',
                        url : '{{ url("getSensoresStatus") }}',
                        type: 'POST'
                    })
                    .done(function (response) {
                        console.log("RX: ",response);
                        var result = [];
                        for(var i in response) {
                            result.push([i, response [i]]);
                        }
                        var dataObject = $.parseJSON(result[0][1]);
                        var dataArraytoDraw = [];
                        var trHTML = '';
                        $.each(dataObject, function (i,v) {
                            dataArraytoDraw.push(v);    //Obsolete
                            trHTML += "<tr>";
                            trHTML +="<td>";
                            trHTML += v["sensor_id"];
                            trHTML +="</td>";
                            trHTML +="<td>";
                            trHTML += v["medicion"];
                            trHTML +="</td>";
                            trHTML +="<td>";
                            trHTML += v["fecha"];
                            trHTML +="</td>";
                            /*trHTML +="<td>";
                             trHTML += "NO ALIAS";
                             trHTML +="</td>";*/
                            trHTML +="</tr>";
                        });
                        $('#dataStatusSensores').empty();
                        $('#dataStatusSensores').append(trHTML);
                        toggleTimerById("refreshButton");
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        console.log("Failed AJAX request.");
                        console.log("Status: "+textStatus);
                        console.log("Error thrown: "+errorThrown);
                    });
        }
    </script>


    <script>
        var set_delay = 60000,
        getDataFromServer = function () {
            $.ajax({
                        //url : '/getSensoresStatus',
                        url : '{{ url("getSensoresStatus") }}',
                        type: 'POST'
                    })
                    .done(function (response) {
                        console.log("RX: ",response);
                        var result = [];
                        for(var i in response) {
                            result.push([i, response [i]]);
                        }
                        var dataObject = $.parseJSON(result[0][1]);
                        var dataArraytoDraw = [];
                        var trHTML = '';
                        $.each(dataObject, function (i,v) {
                            dataArraytoDraw.push(v);    //Obsolete
                            trHTML += "<tr>";
                            trHTML +="<td>";
                            trHTML += v["sensor_id"];
                            trHTML +="</td>";
                            trHTML +="<td>";
                            trHTML += v["medicion"];
                            trHTML +="</td>";
                            trHTML +="<td>";
                            trHTML += v["fecha"];
                            trHTML +="</td>";
                            /*trHTML +="<td>";
                            trHTML += "NO ALIAS";
                            trHTML +="</td>";*/
                            trHTML +="</tr>";
                        });
                        $('#dataStatusSensores').empty();
                        $('#dataStatusSensores').append(trHTML);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        console.log("Failed AJAX request.");
                        console.log("Status: "+textStatus);
                        console.log("Error thrown: "+errorThrown);
                    })
                    .always(function () {
                        setTimeout(getDataFromServer, set_delay);
                    });
        };
    </script>

    <script>
        $(document).ready(function() {
            getDataFromServer();
        });
    </script>

{% endblock %}


