{% extends 'datalogger_base.html.twig' %}

{% block pageTitle %}
    <title>Data Logger</title>
{% endblock %}

{% block tableTitle %}
    <h3>Data Table</h3>
{% endblock %}


{% block dataHead %}
    <tr>
        <th class="text-left">Month</th>
        <th class="text-left">Sales</th>
    </tr>
{% endblock %}



{% block dataBody %}
    {% for key,value in datalogArray %}
        <tr>
            {% for key2,value2 in value %}
                <td class="text-left">{{ value2 }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}