{% extends 'datalogger_base.html.twig' %}



{% block pageTitle %}
    <title>Data Logger</title>
{% endblock %}

{% block tableTitle %}
    <h3>Data Table</h3>
{% endblock %}


{% block dataHead %}
    <tr>
        {# @var datalogArray \AppBundle\Entity\Datalog[] #}
        <th class="text-left">Sensor ID</th>
        <th class="text-left">Medicion</th>
        <th class="text-left">Hora</th>
        <th class="text-left">Fecha</th>
    </tr>
{% endblock %}



{% block dataBody %}

    {% for datalog in datalogArray %}
        {# @var datalog \AppBundle\Entity\Datalog #}
        <tr>
            <td class="text-left">{{ datalog.sensorId }}</td>
            <td class="text-left">{{ datalog.medicion }}</td>
            <td class="text-left">{{ datalog.fecha.format("H:i:s") }}</td>
            <td class="text-left">{{ datalog.fecha.format("d-m-Y") }}</td>
        </tr>
    {% endfor %}
{% endblock %}