{% extends 'datalogger_jquery_base.html.twig' %}


{% block navbar %}
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">INTI - Datalogger</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Estado actual</a></li>
            <li><a href="promedio">Promedio</a></li>
            <li class="active"><a href="historial">Historial</a></li>
        </ul>
    </div>
{% endblock %}


{% block titulo %}
    <h3 class="text-left col-md-12">Ultimas mediciones:</h3>
{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                "processing": true,
                "serverSide": true,
                "ajax": "/hist_update",
                "aoColumns": [
                    {
                        "sTitle":"Sensor ID",
                        "mDataProp": "sensor_id"
                    },
                    {
                        "sTitle":"Medicion",
                        "mDataProp": "medicion"
                    },
                    {
                        "sTitle":"Timestamp",
                        "mDataProp": "fecha"
                    }
                ],
            } );
        } );
    </script>
{% endblock %}
