{% extends 'datalogger_jquery_base.html.twig' %}


{% block navbar %}
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">INTI - Datalogger</a>
        </div>
        <ul class="nav navbar-nav">
                <li><a href="/">Estado actual</a></li>
                <li class="active"><a href="promedio">Promedio</a></li>
                <li><a href="historial">Historial</a></li>
        </ul>
    </div>
{% endblock %}


{% block titulo %}
        <h3 class="text-left col-md-12">Promedio historico:</h3>
{% endblock %}


{% block javascripts %}
    <script>
        var stringAux = $.parseJSON( '{{ jsonString | raw }}');

        String.prototype.capitalizeFirstLetter = function() {
            return this.charAt(0).toUpperCase() + this.slice(1);
        }
    </script>

    <script>
        var table = $('#example').dataTable({
            /* "ajax": {
             "url": "/testing",
             "type": "POST"
             },*/
            "aLengthMenu": [[32, 64, 128, -1], [32, 64, 128, "Todos"]],
            "pageLength": 32,
            "bLengthChange": false,
            //bFilter: false, //Campo de busqueda
            "bPaginate": false,     //paginacion
            "oLanguage": {
                "sUrl": "media/language/spanish.json"
            },
            "aaSorting": [[ 0, "asc" ]], //asc or desc
            "aaData": stringAux,
            "aoColumns": [
                {
                    "sTitle":"Sensor ID",
                    "mDataProp": "sensor_id"
                },
                {
                    "sTitle":"Promedio",
                    "mDataProp": "promedio"
                },
                {

                    "sTitle":"Timestamp",
                    "mDataProp": "fecha"
                }
            ]
        });
        $(function(){

        })
    </script>

    <script>

        var set_delay = 30000,
                getDataFromServer = function () {
                    $.ajax({
                                url : '/promedio',
                                type: 'POST'
                            })
                            .done(function (response) {
                                console.log("AJAX Response:");
                                console.log("Raw: ",response);
                                var result = [];
                                for(var i in response)
                                    result.push([i, response [i]]);
                                console.log("Stringifyed: ");
                                console.log(result[0][1]);
                                var dataObject = $.parseJSON(result[0][1]);
                                var dataArraytoDraw = [];
                                console.log("Parsed as Array: (read to draw)");
                                $.each(dataObject, function (i,v)
                                {
                                    console.log(i,v);
                                    dataArraytoDraw.push(v);
                                });
                                table.api().clear();
                                table.api().rows.add(dataArraytoDraw).draw();
                                console.log("");
                                console.log("==================================================================");
                                console.log("");
                            })
                            .always(function () {
                                setTimeout(getDataFromServer, set_delay);
                            });
                };
    </script>

    <script>
        $(document).ready(function() {
            setTimeout(getDataFromServer, set_delay);
        });
    </script>

{% endblock %}
